@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
Jesús María
    Lima - Perú
</address>

<address>
    <strong>Consultas:</strong> <a href="mailto:Support@example.com">ecardenas@demo.com</a><br />

</address>
